@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(59, 127, 126);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: white;
  color: blue; /* input içerisinde placeholder olarak girilen metin yerine yazı yazıldığında yazının rengi blue olacaktır. */
  border: none;
  font-size: 16px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3 ease;
}

.btn {
  background-color: white;
  border: 0; /*border:none; */
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s all;
}

.btn:focus,
.input {
  outline: none;
}
.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}
